html,body{
    background: #FFDD9D;

}


main{
    display: grid;
    margin: -10px;

}



#header{
    background: white;

}

#header-img{
    display: block;
    width: 300px;
}

/*nav bar*/
#nav-bar>*{
    display: flex;
    list-style: none;
    margin: 20px;
}

#nav-bar li{

    list-style: none;
    flex: 1;
    align-self: center;


}

#nav-bar a{
    display:flex;
    justify-content: flex-end;
    background-color: blue;
}

#header-img{
    display:flex;
    justify-content: flex-start;
    background-color: red;
}

#nav-bar a{

    text-decoration: none;
    display: block;
    color: black;
    font-size: 1.3em;
}



/*nav bar 600px*/

@media(max-width: 600px) {

    #nav-bar >*{
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 20px;
        background: yellow;
    }

}

/*princiapl*/

#principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
