body{
    background: #FAE5D3;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

html{
    height: 100%;
}
main{
    display: grid;
    margin: 0;
    height: 100%;
}
#container{
    position: relative;
    overflow-y: auto;
}


/*HEADER*/
#header{
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    /*box-shadow*/
}

#header-img{
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    width: 350px;
}

/*nav bar-position*/

#nav-bar ul{
    display: flex;
    padding: 0;
    list-style: none;
}

#nav-bar a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
    display: block;
    padding: 10px 16px;
}

#nav-bar a:hover{
    background-color: black;
    color: white;
}


@media(max-width: 800px) {
  #header {
      flex-direction: column;
      align-items: center;
  }
  #header-img{
      margin: 0 auto;
  }
}

/*nav bar 600px*/

@media(max-width: 600px) {

    #nav-bar{
        width: 100%;
    }
    #nav-bar ul{
        display: flex;
        flex-direction: column;
        border: 1px solid #555;
        margin: 0px;
    }
    #nav-bar li{
        border-bottom: 1px solid #555;
        text-align: center;
    }
    #header-img{
        margin-top:10px;
        width: 300px;
    }
}

/*END HEADER*/


/*PRINCIPAL*/

#principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#principal h1{
    text-align: center;
}

#form{
    width: 75%;
    text-align: center;

}

#email{
    width: 300px;
    padding: 5px 30px 5px 5px;
    margin: 10px;
}

#submit{
    padding:2px 15px;
    background: #FFC300;
    font-family: 'Anton', sans-serif;
    font-size: 1.2em;
    border-radius: 3px;
}

@media(max-width: 600px) {
    #form{
        width: 100%;
    }
    #email{
        width: 75%;
    }
}

#features{
    display: flex;
    align-items: center;
    text-align:justify;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #FEF5E7;
}

#works{
    display: flex;
    justify-content: center;
    padding: 10px;
}

#pricing{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 0;
    padding: 30px 0px 30px 0px;
    background-color: #FEF5E7;
}

.box{
    height: 300px;
    width: 250px;
    border: solid 1px black;
    text-align: center;
    padding-bottom: 10px;
}

.box h2{
    background-color: grey;
    margin: 0;
    padding: 10px;
}

@media (max-width: 800px) {
    #pricing{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .box{
        margin-top: 20px;
    }
}

#footer{
    width: 100%;
    background: black;
    display: flex;
    color: white;
    justify-content: center;
}
