html,body{
    background: #FFDD9D;

}


main{
    display: grid;
    margin: -10px;
}

#header{
    background: white;
    display: flex;
    justify-content: space-around;
}

#header-img{
    display: flex;
    margin-top: 10px;
    width: 300px;
}

/*nav bar*/
/*nav bar- view*/


/*nav bar-position*/

#nav-bar ul{
    display: flex;
    padding: 0;
    list-style: none;
}

#nav-bar a{
    text-decoration: none;
    color: black;
    font-size: 1.3em;
}

.nav-link{
    padding: 5px;
}







@media(max-width: 800px) {
  #header {
      flex-direction: column;
      align-items: center;

  }
}

/*nav bar 600px*/

@media(max-width: 600px) {

    #header{
        flex-flow: column wrap;
        align-items: center;
    }

    #nav-bar ul{
        align-items: center;
        flex-flow: column wrap;
    }

}

/*princiapl*/

#principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
